<mat-form-field appearance="outline" class="app-dropdown-field">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }

  <mat-select
    [placeholder]="placeholder()"
    [value]="value"
    [disabled]="disabled"
    (selectionChange)="onSelectionChange($event.value)"
    (blur)="onTouched()"
  >
    @for (opt of options(); track opt.value) {
      <mat-option [value]="opt.value">
        {{ opt.label }}
      </mat-option>
    }
  </mat-select>

  @if (errorMsg() || (control() && control().invalid && control().touched)) {
    <mat-error>
      {{ errorMsg() || 'Selection is required' }}
    </mat-error>
  }
</mat-form-field>
